:root {
    --primary-font:'Syne', sans-serif;
    --secondary-font:'Roboto', sans-serif;
    --active-color:#000000;
    --hover-color: #E7222c;
}

@media screen and (max-width: 1480px){
    main .info {
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }

    main .info aside a{
        max-width: 50%;
    }

}


@media screen and (max-width: 1300px){
    main .carousel {
        display: block;
        width: 80%;
    }

    .carousel .carousel-item img {
        object-fit: contain;
    }

    main .information {
        display: none;
    }

    main .popular aside {
        max-width: 800px;
        max-height: 640px;
    }

    main .popular aside img {
        height: 70%;
        width: 90%;
    }

    footer {
        grid-template-columns: 1fr;
        place-items: center;
    }
    
    footer .left p {
        margin: 0px;
    }

    footer .middle {
        grid-row: 1;
    }

    footer .right {
        grid-row: 2;
    }

    footer .left {
        grid-row: 3;
    }

    footer .middle .logo {
        font-size: 1.813rem;
    }

    .singlepage .bottomthread {
        width: 90%;
    }

    .singlepage .topthread {
        width: 70%;
    }

    main .about .topright {
        margin-left: 5%;
    }
}

@media screen and (max-width: 800px){
 header nav .button, header nav .checkbtn, header .nav-items  span .logo, header .nav-items .checkbtn, header .nav-items .bottom .right, header .nav-items .top, header .nav-items .bottom .left .social, header .nav-items .bottom .right {
        display: none;
    }    
    

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .checkburg {
        display: flex;
        font-size: 2rem;
    }

    header nav .close{
        width: 96%;
        height: 87%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 2rem;
        
    }
    
    .nav-items {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: -300%;
        transition: all 0.5s;
        background-color: white;
        z-index: 10;
    }

    header .nav-items .bottom {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
    }

    header .nav-items .bottom .left {
        flex-direction: column;
    }

    header .nav-items .bottom .left ul{
        row-gap: 1rem;
    }

    header .nav-items .bottom .left ul li {
        text-align: center;
    }

    header .nav-items .bottom .left ul li a {
        color: var(--active-color);
        font-size: 1.375rem;
        font-weight: 300;
        font-family:var(--secondary-font) ;
        row-gap: 0.5rem;
        text-decoration: none;
        text-align: center;
    }

    header .nav-items .bottom .left .leftbox .menu-button {
        display: block;
        background-color: white;
        border: 1px solid black;
        color: var(--active-color);
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    header .nav-items .bottom .close .checkburg,header .nav-items .bottom .close {
        display: block;
    }

    header .nav-items .bottom .close .checkburg {
        display: flex;
        justify-content: flex-end;
        float: right;
    }

    main .intro article, main .info, main .sign article, main .about {
        grid-template-columns: 1fr;
    }

    main .intro article .left {
        min-height: 400px;
    }

    main .intro article .right a, header nav span .logo {
        font-size: 2.5rem;
    }

    main .popular {
        max-height: 700px;
    }

    main .sign article .right {
        background-position: center;
        min-height: 500px;
    }

    main .story .bottom a {
        font-size: 2rem;
        max-width: 400px;
    }

    main .popular aside a p{
        margin: 30px 0px;
    }

    main .sign {
        height: 960px;
    }

    main .sign article {
        row-gap: 50px;
    }

    main .sign article .left .void {
        font-size: 2rem;
    }

    main .sign article .left .void, main .sign article .left .subbutton p {
        max-width: 200px;
    }

    main .sign article .left input {
        width: 100%;
    }

    main .sign article .left .subbutton {
        max-width: 200px;
        display: grid;
    }

    main .about .topright article h1, main .about .bottomright article h1 {
        font-size: 1.5rem;
    }

    main .about .topright article p, main .about .bottomright .contact label {
        font-size: 0.8rem;
    }

    main .about .bottomright .contact{
        width: 30%;
    }

    main .about .bottomright article h1 {
        min-width: 0px;
    }

    main .about .bottomleft {
        grid-row: 2;
        background-attachment: scroll;
        background-position: 8% 18%;
    }

    main .about .topleft {
        background-attachment: scroll;
    }

    .singlepage .topthread {
        width: 500px;
    }

    .minitimes, .singlepage .bottomthread .infotext a {
        font-size: 0.4rem;
    }

    .singlepage .topthread h1, .singlepage .topthread .infohead {
        font-size: 1.25rem;
    }

    .singlepage .topthread .infotext, .singlepage .bottomthread .infotext p, .singlepage .bottomthread .reel .photos p, .singlepage .comment p {
        font-size: 0.75rem;
    }

    .singlepage .topthread .biginfo p {
        font-size: 1rem;
    }

    .singlepage .bottomthread .reel {
        width: 50%;
        grid-template-columns: 1fr;
        place-self: center;
    }

    .singlepage .comment input {
        width: 50%;
    }

    main .about .bottomright article, main .about .topright article{
        display: block;
    }

    main .about .topleft {
        background-position: 50% 0%;
    }

    main .about .bottomleft {
        grid-row: 2;
        background-attachment: scroll;
        background-position: 50% 38%;
    }
    
}

@media screen and (max-width:500px){
    header nav span .logo {
        font-size: 2.5rem;
    }
    
    main .popular {
        grid-template-columns: 1fr;
        max-height: max-content;
    }

    main .popular aside img {
        max-width: 250px;
        max-height: 355px;
        object-fit: cover;
    }
    main .popular aside a p {
        display: none;
    }

    main .sign {
        margin-top: 300px;
    }
    main .sign article .left .subbutton p {
        min-width: 0px;
        max-width: 100px;
    }

    main .about .bottomright .contact input {
        width: 150px;
    }

    .singlepage .topthread {
        width: 90%;
    }

    .singlepage .topthread .toptier .icons {
        font-size: 0.75rem;
    }

    .secondpage .info aside img {
        max-width: 260px;
        min-width: 0px;
    }
    main .info aside a {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 280px) {
    header nav span .logo, main .intro article .right a, header nav .checkburg, main .story .bottom a, footer .middle .logo {
        font-size: 1.5rem;
    }
    
    main .intro article .right h2,.carousel .carousel-item a, main .story h3, main .toptext h1, main .sign article .left .void{
        font-size: 1rem;
    }

    header .nav-items .bottom .left ul li a, main .popular aside a, main .sign article .left .void, main .sign article .left .subbutton a, footer .right .social a, main .info aside a {
        font-size: 0.8rem;
    }

    main .intro article .right p, main .info aside p, main .popular aside p, main .story .bottom p, .carousel .carousel-item p, main .information aside p,footer .left p,.secondpage .info aside a p {
        font-size: 0.5rem;
    }

    main .popular aside img {
        width: 85%;
    }

    main .sign {
        margin-top: 120px;
    }

    main .sign article {
        row-gap: 0px;
    }
    
    .secondpage .info aside img, main .about .topright article h1, main .about .bottomright article h1, main .about .topright article p {
        max-width: 240px;
    }

    main .about .bottomleft, main .about .topleft {
        background-position: center;
    }

    main .about .topright article h1 {
        min-width: 0px;
    }

    main .about .topleft {
        background-position: top;
    }

    main .about .bottomleft {
        background-position: 50% 26%;
        margin-bottom: 20px;
    }

    .singlepage {
        width: 240px;
        margin: 0px;
    }

    .singlepage .bottomthread .reel {
        place-self: start;
    }

    .singlepage .bottomthread .reel .photos img {
        width: 200px;
        height: 150px;
    }
    
    .singlepage .topthread .toptier .icons {
        font-size: 0.5rem;
    }
}