:root {
    --primary-font:'Syne', sans-serif;
    --secondary-font:'Roboto', sans-serif;
    --active-color:#000000;
    --hover-color: #E7222c;
}

html {
    scroll-behavior: smooth;  
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--primary-font);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;
}

header .nav-items .checkbtn:hover, header .nav-items .bottom .left ul li a:hover, header .nav-items .bottom .right .subbutton a:hover, main .intro article .right a:hover, main .info aside a:hover, main .popular aside a:hover, main .sign article .left .subbutton a:hover {
    color: var(--hover-color);
    transition: 0.5 ease;
}

header {
    width: 100%;
    height: 123px;
    background-color: white;
}

header nav {
    width: 93%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .button {
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--secondary-font);
    color: var(--active-color);
    text-decoration: none;
    width: 140px;
    height: 39px;
    background-color: white;
    border: 1px solid black;
    transition: 0.5s ease;
}

header nav .button:hover{
    color: white;
    background-color: var(--active-color);
}

header nav span .logo,footer .logo {
    color: var(--active-color);
    font-size: 4.375rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0px;
}

header nav .checkbtn {
    font-size: 1.688rem;
    font-weight: bold;
    color: var(--active-color);
    cursor: pointer;
    line-height: 7.5rem;
}

header nav .checkburg {
    display: none;
}

header nav #check {
    display: none;
}

.nav-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: -100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    transition: all 0.1s;
    background-color: black;
    z-index: 10;
}

header nav #check:checked ~ .nav-items {
    top: 0px;
    left: 0px;
}

header .nav-items .top {
    display: grid;
    grid-template-columns:3fr 2fr;
}

header .nav-items  span .logo {
    color: white;
    font-size: 4.688;
    display: flex;
    justify-content:flex-end;
    margin: 30px 20px;
}

header .nav-items .checkbtn {
    color: white;
    font-size: 1.688;
}

header .nav-items .bottom {
    width: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

header .nav-items .bottom .left ul {
    margin: 0px;
    padding: 0px;
    display: grid;
    row-gap: 2rem;
    list-style: none;
}

header .nav-items .bottom .left ul li a {
    color: white;
    font-size: 1.5rem;
    row-gap: 0.5rem;
    text-decoration: none;
}

header .nav-items .bottom .left .leftbox {
    display: grid;
    row-gap: 4rem;
}

header .nav-items .bottom .left .social, footer .right .social {
    display: flex;
    gap: 2rem;
}

header .nav-items .bottom .left .social a, footer .right .social a {
    color: white;
    font-size: 1.5rem;
}

header .nav-items .bottom .right {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    width: 65%;
}

header .nav-items .bottom .right p {
    color: white;
    font-family: var(--secondary-font);
    font-weight: 200;
    font-size: 1rem;
}

header .nav-items .bottom .right .subbutton p {
    font-size: 0.875rem;
}

header .nav-items .bottom .right input {
    background-color: var(--active-color);
    border: 0px;
    height: 2rem;
    border-bottom: 1px solid white;
    padding: 3px 3px 3px 0px;
}

header .nav-items .bottom .right .subbutton {
    display: flex;
    justify-content: space-between;
}

header .nav-items .bottom .right .subbutton a {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    
}

header .nav-items .bottom .right input:hover, main .sign article .left input:hover {
    border-bottom: 2px solid white;
}

main {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
}

main section {
    width: 93%;
}

main .toptext {
    display: flex;
    justify-content: flex-start;
}

main .toptext h1 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--active-color);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
}

main .intro {
    height: 926px;
}
main .intro article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--active-color);
}

main .intro article .left {
    width: 100%;
    height: 100%;
    background-image: url('https://static.wixstatic.com/media/c837a6_83801c4dfb78493b93f130ab40fe94a8~mv2.jpg/v1/fill/w_888,h_1158,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_83801c4dfb78493b93f130ab40fe94a8~mv2.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

main .intro article .right div{
    max-width: 460px;
}

main .intro article .right h2, main .intro article .right p, main .intro article .right a {
    color: white;
    text-decoration: none;
}

main .intro article .right h2 {
    font-size: 1.5rem;
    font-weight: 300;

}

main .intro article .right p,main .info aside p, main .popular aside p, main .story .bottom p {
    font-size: 0.75rem;
    font-weight: 300;
    font-family: var(--secondary-font);
    word-spacing: 0.2rem;
    margin: 15px 10px;
}

main .intro article .right a {
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;

}

.carousel {
    display: none;
}

main .info {
    width: 93%;
    height: 638px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

main .info aside,main .popular aside {
    
    flex-direction: column;
    justify-content: flex-start;
}

main .info aside img {
    max-width: 332px;
}

main .info aside a {
    font-size: 1.313rem;
    font-weight: 700;
    color: var(--active-color);
    text-decoration: none;
}

main .story {
    width: 100%;
    height: 729px;
    background-image: url('https://static.wixstatic.com/media/84770f_6ead7869ff5a4842aee87b0d58d83504~mv2.jpg/v1/fill/w_1899,h_911,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_6ead7869ff5a4842aee87b0d58d83504~mv2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 2rem;
    
}

main .story .top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main .story .bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

main .story .bottom a {
    color: white;
    font-size: 3.438rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 4.5rem;
    text-align: center;
    max-width: 861px;
}

main .story .bottom a:hover {
    color: var(--active-color);
    transition: 0.5 ease;
}

main .story h3 {
    color: white;
    font-size: 1.5rem;

}

main .popular {
    width: 93%;
    height: 863px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

main .popular aside img {
    max-width: 453px;
    max-height: 604px;
}

main .popular aside a {
    font-size: 1.313rem;
    font-weight: 700;
    color: var(--active-color);
    text-decoration: none;
}

main .popular aside a p {
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight: 300;
    margin: 10px 0px;
    
}

main .sign {
    height: 893px;
}

main .sign article {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--active-color);
}

main .sign article .right {
    background-image: url('https://static.wixstatic.com/media/11062b_7d10a5acdb1549cc99c521c5979a3ac7~mv2.jpg/v1/fill/w_710,h_893,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_7d10a5acdb1549cc99c521c5979a3ac7~mv2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */

}

main .sign article .left {
    flex-direction: column;
    gap: 20px;

}

main .sign article .left .void {
    max-width: 400px;
    color: white;
    font-weight: 700;
    font-size: 3.438rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

main .sign article .left .subbutton p {
    font-size: 0.875rem;
    color: white;
    font-weight: 200;
    min-width: 300px;
    font-family: var(--secondary-font);
}

main .sign article .left input {
    width: 100%;
    background-color: var(--active-color);
    border: 0px;
    height: 2rem;
    border-bottom: 1px solid white;
    padding: 3px 3px 3px 0px;
}

main .sign article .left .subbutton {
    display: flex;
    justify-content: space-between;
}

main .sign article .left .subbutton a {
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    text-decoration: none;
    
}

footer {
    width: 100%;
    height: 133px;
    background-color: var(--active-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .logo {
    color: white;
}

footer .left p {
    font-family: var(--secondary-font);
    font-size: 0.875rem;
    font-weight: 200;
    color: white;
}

footer .left p a {
    color: white;
}
